*.pyc
__pycache__/
.vscode/
*.vhd~
*.log
*.json~
*.vcd
example/
replication_files/
*~
\#*\#
.\#*
test.input
TestBench_*
./rtl_profiler_and_generator/generated_units/*
./rtl_profiler_and_generator/reports/timing/*
./rtl_profiler_and_generator/reports/utilisation/*
./rtl_profiler_and_generator/unit_repositories_for_merge/*